body {
    margin: auto;
    max-width: 100%;
    height: 100vh;
    background-color: black;
    background-size: 144px 81px;
    background-image: linear-gradient(to right, #1a2347 1px, transparent 1px),
                      linear-gradient(to bottom, #1a2347 1px, transparent 1px);

/* #5C7CFA */
}

/*
.grid_container {
    display: grid;
    grid-template-columns: repeat(10, 144px);
    grid-template-columns: repeat(10, 81px);
    z-index: -2;
    color: solid 1px #5C7CFA;
}
*/
ul, a {
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;    
}


.nav {
    width: 80%;
    height: 203px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
}

.nav_list {
    width: 100px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
}

.nav_li {
    max-width: 267px;
    height: 23px;
    margin-top: 12px;  
}

.nav_link {
    text-decoration: none;
    color: #FFFFFF; 
    font-size: 16px;
    font-family: "Source Sans 3", serif;
    font-weight: 400;
    font-style: normal; 
    line-height: 1.4;
    max-width: 42px;
    display: flex;
    justify-content: space-around;
}

.link {
    max-width: 42px;
    margin-left: 20px;
    margin-right: 20px;
}

.item_link {
    text-decoration: none;
    color: #FFFFFF; 
    font-size: 16px;
    font-family: "Source Sans 3", serif;
    font-weight: 400;
    font-style: normal; 
    line-height: 1.4;
    display: none;
    max-width: 70px;
    margin-right: 5px;
}

.fa-ellipsis {
    color: #222e5d;
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 24px;
}

h2 {
    font-family: "Baloo 2", serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    max-width: 100px;
    width: 100%;
    margin-left: 15px;
    display: flex;
    max-width: 100px;
    justify-content: flex-start;
}

main {
    max-width: 1440px;
    max-height: 623px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    max-width: 574px;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

h1 {
    width: 265px;
    height: 50px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color:#FFFFFF;
    font-size: 84px;
    line-height: 1.2;
    letter-spacing: -2px;
    display: flex;
}

.block-text {
    max-width: 574px;
    height: 68px;
    font-family: "Source Sans 3", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 20px;
    color:#FFFFFF;
    display: flex;
}

img {
    margin-top: 45px;
    max-width: 864px;
    max-height: 378px;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    h1 {
        font-size: 72px;
        line-height: 1.15;
    }

    .nav_link {
        visibility: hidden;
    }

    .fa-ellipsis {
        visibility: visible; 
    }

    .item_link {
        display: flex;
        width: 80px;
        justify-content: space-between;
        flex-direction: row;
    }

    img {
       max-width: 617px;
       max-height: 512px;
       margin-top: 45px; 
    }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
    main {
        max-height: 568px;
    }
    h1 {
        width: 114px;
        height: 40px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: -0.8px;
        display: flex;
        justify-content: center;
    }

    .block-text {
        font-size: 12px;
        width: 217px;
        height: 49px;
        display: flex;
        line-height: 1.25;
    }

    img {
       width: 256px;
       height: 284px;
    }

    .nav_link {
        visibility: hidden;
    }

    .fa-ellipsis {
        visibility: visible;
        margin-right: -50px;
    }

}